management:
  tracing:
    sampling:
      probability: 1.0 # Trace all requests
  otlp:
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s

    logging:
      level:
        io.micrometer.tracing: DEBUG
        io.opentelemetry: DEBUG