server:
  port: 8081

spring:
  application:
    name: incident-service

  datasource:
    url: jdbc:postgresql://postgres:5432/observability
    username: admin
    password: admin
  jpa:
    #database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0

  otlp:
    resource-attributes:
      service.name: incident-service
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s

logging:
  level:
    root: INFO
    io.micrometer: INFO