server:
  port: 8081

spring:
  application:
    name: incident-service

  datasource:
    url: jdbc:postgresql://postgres:5432/observability
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0

  otlp:
    tracing:
      endpoint: http://otel-collector:4317
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    io.micrometer: INFO