server:
  port: 8080

spring:
  application:
    name: telemetry-demo-service

management:
  tracing:
    sampling:
      probability: 1.0   # Trace everything in dev
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

  otlp:
    resource-attributes:
      service.name: telemetry-demo-service
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s

logging:
  level:
    root: INFO
    io.micrometer: DEBUG
    io.opentelemetry: DEBUG