server:
  port: 8080

spring:
  application:
    name: telemetry-demo-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0   # trace everything in dev

  otlp:
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 10s

logging:
  level:
    root: INFO
    io.micrometer: INFO